# Virtual Environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest cache
.pytest_cache/

# Logs
*.log

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Selenium screenshots/reports
reports/
screenshots/

# OS files
.DS_Store
Thumbs.db

# Build files
build/
dist/
*.egg-info/

# Coverage files
.coverage
htmlcov/

# Allure reports
allure-results/
allure-report/